.qtoaq { 
  padding-left: 78px;
  border-left-width: 18px;
  margin-top: 52px;
  line-height: 72px;
  font-size: 55px;
  border-bottom-width: 30px;
  margin-right: 15px;
  margin-bottom: 56px;
  line-height: 38px;
  border-right-width: 84px;
  border-top-width: 74px;
  line-height: 16px;
}
